*.beam
*.gz
*.tpl
*.o
*.lo
*.la
*.m4
*.in
*~
*.orig
*.rej
erl_crash.dump
*.diff
.DS_Store
*.dSYM
*.sw*
*.gz
*.so
*.o

# coffer specific
build
dialyzer.plt
.eunit
apps/coffer_blobserver/.eunit
apps/coffer_common/.eunit
ebin
rel/coffer

# rebar
thirdparty/rebar/rebar
thirdparty/rebar/inttest/rt.work
rt.work
thirdparty/rebar/.test
