*.beam
*.gz
*.tpl
*.o
*.lo
*.la
*.m4
*.in
*~
*.orig
*.rej
erl_crash.dump
*.diff
.DS_Store
*.dSYM
*.sw*
*.gz
*.so
*.o

deps

# coffer specific
build
dialyzer.plt
.eunit
apps/coffer_blobserver/.eunit
apps/coffer_common/.euniit
apps/coffer_/.eunit
apps/coffer_blobserver/ebin
apps/coffer_common/ebin
apps/coffer_/ebin
rel/coffer

# rebar
support/rebar/rebar
support/rebar/inttest/rt.work
rt.work
support/rebar/.test
