%-*-Mode:erlang;coding:utf-8;tab-width:4;c-basic-offset:4;indent-tabs-mode:()-*-
% ex: set ft=erlang fenc=utf-8 sts=4 ts=4 sw=4 et:

{sub_dirs, [
        "apps/coffer_blobserver",
        "apps/coffer_common",
        "apps/coffer",
        "apps/coffer_client"]}.

{lib_dirs, ["apps", "deps"]}.

{deps, [
        {lager, ".*", {git, "git://github.com/basho/lager.git",
                       {tag,"2.0.1"}}},

        %% cowboy 0.9.0 patched for R15/R16 support
        {cowboy, ".*", {git, "git://github.com/refuge/cowboy.git",
                        "a0aefa615db29f009000fa713dfdfcf1ccc2eec9"}},

        {jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git",
                        {tag,"v1.4.4"}}},

        {uuid, ".*", {git, "git://github.com/okeuday/uuid.git",
                      {tag, "v1.3.1"}}},

        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git",
                         {tag, "0.7.0"}}},

        {salt, ".*", {git, "git://github.com/refuge/salt.git",
                         {branch, "static"}}},

        {cowlib, ".*", {git, "git://github.com/extend/cowlib.git",
                       {tag, "0.4.0"}}}
]}.


{require_otp_vsn, "R16|R17"}.

{erl_opts, [
        debug_info,
        warnings_as_errors,
        strict_validation,
        warn_bif_clash,
        warn_deprecated_function,
        warn_export_all,
        warn_export_vars,
        warn_exported_vars,
        warn_obsolete_guard,
        warn_shadow_vars,
        %warn_unused_import, % using proper's automatic imports
        warn_unused_function,
        warn_unused_record,
        warn_unused_vars,
        {parse_transform, lager_transform}]}.
